


<ion-row class="leagueTitle">
    <hr class="new4"> <img style="margin: 1rem" src="../../assets/premierLegue.png" alt="" width="50px"><hr class="new4">


<div class="container">
    
  <div class="messages" *ngFor='let scorer of scorers1'>
      <div class="photo-sender">
        <!-- <img src="../../assets/girl1.jpg" alt="" width="50px" class="img-thumbnail rounded-circle"> -->
  
    
        <p style="font-size: 14px;">{{scorer.player.name}}</p>
    
        <div class="date" >
            <h4 style="text-align: center; font-size: 30px;">{{scorer.numberOfGoals}}</h4>
        </div>
    
      </div>
      <div class="msg">
    
        <div class="msg-content">
          <p style="font-size: 14px;">{{scorer.team.name}}</p>
          <p style="font-size: 14px;">{{scorer.player.position}}</p>
          <p style="font-size: 14px;">{{scorer.player.nationality}} / {{scorer.player.countryOfBirth}}</p>
        </div>
    
    
      </div>
  </div>
    
</div>
</ion-row>


<ion-row class="leagueTitle">
    <hr class="new4"> <img style="margin: 1rem" src="../../assets/laliga.png" alt="" width="50px"><hr class="new4">


<div class="container">
    
  <div class="messages" *ngFor='let scorer of scorers2'>
      <div class="photo-sender">
        <!-- <img src="../../assets/girl1.jpg" alt="" width="50px" class="img-thumbnail rounded-circle"> -->
  
    
        <p style="font-size: 14px;">{{scorer.player.name}}</p>
    
        <div class="date" >
            <h4 style="text-align: center; font-size: 30px;">{{scorer.numberOfGoals}}</h4>
        </div>
    
      </div>
      <div class="msg">
    
        <div class="msg-content">
          <p style="font-size: 14px;">{{scorer.team.name}}</p>
          <p style="font-size: 14px;">{{scorer.player.position}}</p>
          <p style="font-size: 14px;">{{scorer.player.nationality}} / {{scorer.player.countryOfBirth}}</p>
        </div>
    
    
      </div>
  </div>
    
</div>
</ion-row>

<ion-row class="leagueTitle">
    <hr class="new4"> <img style="margin: 1rem" src="../../assets/Serie_A.png" alt="" width="50px"><hr class="new4">


<div class="container">
    
  <div class="messages" *ngFor='let scorer of scorers3'>
      <div class="photo-sender">
        <!-- <img src="../../assets/girl1.jpg" alt="" width="50px" class="img-thumbnail rounded-circle"> -->
  
    
        <p style="font-size: 14px;">{{scorer.player.name}}</p>
    
        <div class="date" >
            <h4 style="text-align: center; font-size: 30px;">{{scorer.numberOfGoals}}</h4>
        </div>
    
      </div>
      <div class="msg">
    
        <div class="msg-content">
          <p style="font-size: 14px;">{{scorer.team.name}}</p>
          <p style="font-size: 14px;">{{scorer.player.position}}</p>
          <p style="font-size: 14px;">{{scorer.player.nationality}} / {{scorer.player.countryOfBirth}}</p>
        </div>
    
    
      </div>
  </div>
    
</div>
</ion-row>

<ion-row class="leagueTitle">
    <hr class="new4"> <img style="margin: 1rem" src="../../assets/bundesLiga.png" alt="" width="50px"><hr class="new4">


<div class="container">
    
  <div class="messages" *ngFor='let scorer of scorers4'>
      <div class="photo-sender">
        <!-- <img src="../../assets/girl1.jpg" alt="" width="50px" class="img-thumbnail rounded-circle"> -->
  
    
        <p style="font-size: 14px;">{{scorer.player.name}}</p>
    
        <div class="date" >
            <h4 style="text-align: center; font-size: 30px;">{{scorer.numberOfGoals}}</h4>
        </div>
    
      </div>
      <div class="msg">
    
        <div class="msg-content">
          <p style="font-size: 14px;">{{scorer.team.name}}</p>
          <p style="font-size: 14px;">{{scorer.player.position}}</p>
          <p style="font-size: 14px;">{{scorer.player.nationality}} / {{scorer.player.countryOfBirth}}</p>
        </div>
    
    
      </div>
  </div>
    
</div>
</ion-row>


<ion-row class="leagueTitle">
        <hr class="new4"> <img style="margin: 1rem" src="../../assets/ligue-1.png" alt="" width="50px"><hr class="new4">

    <div class="container">
        
      <div class="messages" *ngFor='let scorer of scorers5'>
          <div class="photo-sender">
            <!-- <img src="../../assets/girl1.jpg" alt="" width="50px" class="img-thumbnail rounded-circle"> -->
      
        
            <p style="font-size: 14px;">{{scorer.player.name}}</p>
        
            <div class="date" >
                <h4 style="text-align: center; font-size: 30px;">{{scorer.numberOfGoals}}</h4>
            </div>
        
          </div>
          <div class="msg">
        
            <div class="msg-content">
              <p style="font-size: 14px;">{{scorer.team.name}}</p>
              <p style="font-size: 14px;">{{scorer.player.position}}</p>
              <p style="font-size: 14px;">{{scorer.player.nationality}} / {{scorer.player.countryOfBirth}}</p>
            </div>
        
        
          </div>
      </div>
        
    </div>
</ion-row>


<ion-row class="leagueTitle">
    <hr class="new4"> <img style="margin: 1rem" src="../../assets/championsLeague.png" alt="" width="50px"><hr class="new4">

<div class="container">
    
  <div class="messages" *ngFor='let scorer of scorers6'>
      <div class="photo-sender">
        <!-- <img src="../../assets/girl1.jpg" alt="" width="50px" class="img-thumbnail rounded-circle"> -->
  
    
        <p style="font-size: 14px;">{{scorer.player.name}}</p>
    
        <div class="date" >
            <h4 style="text-align: center; font-size: 30px;">{{scorer.numberOfGoals}}</h4>
        </div>
    
      </div>
      <div class="msg">
    
        <div class="msg-content">
          <p style="font-size: 14px;">{{scorer.team.name}}</p>
          <p style="font-size: 14px;">{{scorer.player.position}}</p>
          <p style="font-size: 14px;">{{scorer.player.nationality}} / {{scorer.player.countryOfBirth}}</p>
        </div>
    
    
      </div>
  </div>
    
</div>
</ion-row>


<!-- <ion-row class="leagueTitle">
    <hr class="new4"> <img style="margin: 1rem" src="../../assets/europaLeague.png" alt="" width="50px"><hr class="new4">

<div class="container">
    
  <div class="messages" *ngFor='let scorer of scorers7'>
      <div class="photo-sender">
        <img src="../../assets/girl1.jpg" alt="" width="50px" class="img-thumbnail rounded-circle">
  
    
        <p style="font-size: 14px;">{{scorer.player.name}}</p>
    
        <div class="date" >
            <h4 style="text-align: center; font-size: 30px;">{{scorer.numberOfGoals}}</h4>
        </div>
    
      </div>
      <div class="msg">
    
        <div class="msg-content">
          <p style="font-size: 14px;">{{scorer.team.name}}</p>
          <p style="font-size: 14px;">{{scorer.player.position}}</p>
          <p style="font-size: 14px;">{{scorer.player.nationality}} / {{scorer.player.countryOfBirth}}</p>
        </div>
    
    
      </div>
  </div>
    
</div>
</ion-row> -->