.title{
    display: flex;
    justify-content: center;
    
}

th{
    font-size: 12px;
    padding: 5px;
}

td{
    font-size: 10px;
    padding: 5px;
    
}
.UCL{
    background-color: #4285F4 ;
}
.UEL{
    background-color: #FA7B17 ;
}
.UELQ{
    background-color: #34A853 ;
}
.REL{
    background-color: #EA4335 ;
}
.RELPO{
    background-color: #FBBC04 ;
}